<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1990])
#set($qcValues = [["Passed","Passed"], ["Good","Good"], ["OK","OK"], ["Poor","Poor"],["Do Not Run","Do Not Run"], ["Rerun","Rerun"], ["Needs QA","Needs QA"], ["Needs Edits","Needs Edits"], ["Bad","Bad"], ["Failed","Failed"]])

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyImageAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end
<script src="$content.getURI("scripts/omUtils.js")"></script>
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Processor Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR>
								<TD colspan='2'>
									<HR>
									#parse("/screens/xnat_edit_experimentData.vm")
									<HR>
								</TD>
							</TR>
							<TR>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</TR>
                            <TR>
                            	<TD align="left" valign="top">
                        			<!-- BEGIN proc:genProcData/validation -->
                                 	<TABLE>
                                        <TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">Processor QC</font></TH></TR>
                                        <TR>
                                        	<TD align="left" valign="top">
                                            	<TABLE>
                                                    <TR><TD>Status</TD><TD>#cndaSelectBoxSimple("proc:genProcData/validation/status" $item $qcValues $vr)</TD></TR>
													<TR><TD>Method</TD><TD>#xdatStringBox("proc:genProcData/validation/method" $item "" $vr)</TD></TR>
                                                    <TR><TD>Notes</TD><TD>#xdatTextArea("proc:genProcData/validation/notes" $item "" $vr 10 30)</TD></TR>
													#xdatHiddenBox("proc:genProcData/validation/xnat_validationData_id" $item "")
													#xdatHiddenBox("proc:genProcData/imageSession_ID" $item "")
													#xdatHiddenBox("proc:genProcData/validation/validated_by" "" $user.username)
													#xdatHiddenBox("proc:genProcData/validation/date" $item "")
                                                </TABLE>
                                            </TD>
                                        </TR>
                                	</TABLE>
                        			<!-- END proc:genProcData/validation -->
                                </TD>
                             </TR>
					    </TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			#xdatEditProps($item $edit_screen)
			<!--input type="button" ONCLICK="validateForm()"  name="eventSubmit_doInsert" value="Submit"/!-->
			<TR><TD COLSPAN=2 ALIGN=left><button id="submit_qa">Submit</button></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
	function setQCDate(){
		// Set the date
		document.getElementById('proc:genProcData/validation/date').value = new Date().toISOString().slice(0,10);
	}

	document.getElementById('submit_qa').onclick=function(){
		setQCDate();
		document.getElementById("form1").submit();
	}


</script>
